@font-face {
  font-family: "Maven Pro";
  src: url("../fonts/Maven Pro Regular.otf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Arvo";
  src: url("../fonts/Arvo-Regular.ttf");
}

.logoBox {
  display: block;
  text-align: center;
  padding: 1em 0 0;
  font-size: 2em;
}

.logoBox:hover {
  text-decoration: none;
}

.controls {
  margin-bottom: 1em;
}

.sidebar {
  width: 25%;
  position: fixed;
  padding-right: 15px;
}

.brand {
  color: #6D6E70;
  font-family: "Maven Pro";
  font-weight: 500;
  letter-spacing: -0.3px;
}

img.icon {
  width: 70%;
}

h1 {
  font-size: 34px;
}

.comparisons .progress {
  width: 40%;
  float: right;
}

.pane {
  margin-bottom: 3em;
}

figure {
  margin: 0;
  fill: #6D6E70;
}
line {
  stroke-width: 1;
  stroke: #6D6E70;
}
text.measurable {
  font-size: 28px;
  font-family: "Open Sans";
  text-shadow: 0px 0px 3px white;
}
text.measurement {
  font-size: 20px;
  font-family: "Arvo";
}
line.divider {
  stroke-width: 2;
}
line.grid {
  stroke: #DDD;
}
.spider path {
  stroke: #6D6E70;
  stroke-width: 2;
}
.spider polygon.divider {
  stroke: #6D6E70;
  stroke-width: 2; 
  fill-opacity: 0.0;
}
.spider polygon.grid {
  stroke: #DDD;
  stroke-width: 2; 
  fill-opacity: 0.0;
}
.spider text.measurable {
  font-size: 22px;
}
.spider text {
  fill: #6D6E70;
}
text.scale {
  fill: #AAA;
  font-family: "Arvo";
  font-size: 12px;
}
polygon {
  fill: #349463;
  opacity: 0.5;
  stroke-width: 0;
}
.sparkline {
  float: right;
}