@(player: DisplayPlayer, primaryPosition: Position, comparables: List[ComparablePlayer])

@main(player.player.firstName + " " + player.player.lastName + " - MockDraftable") {

          <div class="page-header">
            <div class="btn-group btn-group-lg pull-right">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <strong>@primaryPosition.abbr</strong>&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                @for(pos <- player.positions) {
                  <li><a href="#">@pos.abbr</a></li>
                }
                <li class="divider"></li>
                <li><a href="#">WR</a></li>
              </ul>
            </div>
            <h1>@player.player.firstName @player.player.lastName <small> (@player.player.draftYear)</small></h1>
          </div>
          <div id="measurables" class="pane">
            <h3>Measurables</h3>
            <div class="row">
              <figure class="svg-container spider col-sm-7">
                <svg class="diagram" preserveAspectRatio="xMinYMin meet" viewbox="0 0 400 400">
                  <g transform="translate(-40, -40)">
                    <polygon class="divider" points="@player.spider.divider" />
                    @for(d <- player.spider.grid) {
                      <polygon class="grid" points="@d" />
                    }
                    <polygon class="graph" points="@player.spider.polygon" />
                    @for(a <- player.spider.axes) {
                      <path id="m@a.m.id" d="@a.l" />
                      <text class="measurable">
                        <textPath spacing="auto" startOffset="10", xlink:href="#m@a.m.id">@a.m.name</textPath>
                      </text>
                    }
                  </g>
                </svg>
              </figure>
              <div class="col-sm-5">
                <table class="measurements table">
                  <tr>
                    <th>Measurable</th>
                    <th>Measurement</th>
                    <th>%ile</th>
                  </tr>
                  @for(m <- player.measurements) {
                    <tr>
                      <td>@m.measurable.name</td>
                      <td>@Html(m.display)</td>
                      <td>@player.percentiles.getPercentile(m.measurable)</td>
                    </tr>
                  }
                </table>
              </div>
            </div>
          </div>
          <div id="comparisons" class="pane">
            <h3>Comparisons</h3>
            <div class="list-group comparisons">
              @for(c <- comparables) {
                <a href="/@c.player.canonicalName" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: @c.score%;">@c.score%</div>
                </div>
                <h4 class="list-group-item-heading">@c.player.firstName @c.player.lastName</h4>
                <p class="list-group-item-text"><span class="label label-danger">@c.primaryPosition.abbr</span></p>
              </a>
              }
            </div>
          </div>
        </div>
      </div>

}
