@(player: DisplayPlayer, primaryPosition: Position, comparables: List[Player])

@main("MockDraftable") {

          <div class="page-header">
            <div class="btn-group btn-group-lg pull-right">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <strong>@primaryPosition.abbr</strong>&nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                @for(pos <- player.positions) {
                  <li><a href="#">@pos.abbr</a></li>
                }
                <li class="divider"></li>
                <li><a href="#">WR</a></li>
              </ul>
            </div>
            <h1>@player.player.firstName @player.player.lastName <small>Virginia (@player.player.draftYear)</small></h1>
          </div>
          <div id="measurables" class="pane">
            <h3>Measurables</h3>
            <div class="row">
              <figure class="svg-container spider col-sm-7">
                <svg class="diagram" preserveAspectRatio="xMinYMin meet" viewbox="0 0 400 400">
                  <g transform="translate(-40, -40)">
                    <polygon class="divider" points="240,40 332.94,62.90 404.59,126.38 438.54,215.89 427.00,310.92 372.62,389.70 287.86,434.18 192.13,434.18 107.37,389.70 52.99,310.92 41.45,215.89 75.40,126.38 147.05,62.908794869358"/>
                    <polygon class="grid" points="240,200 258.58,204.58 272.91,217.27 279.70,235.17 277.40,254.18 266.52,269.94 249.57,278.83 230.42,278.83 213.47,269.94 202.59,254.18 200.29,235.17 207.08,217.27 221.41,204.58175897387"/>
                    <polygon class="grid" points="240,160 277.17,169.16 305.83,194.55 319.41,230.35 314.80,268.36 293.04,299.88 259.14,317.67 220.85,317.67 186.95,299.88 165.19,268.36 160.58,230.35 174.16,194.55 202.82,169.16351794774"/>
                    <polygon class="grid" points="240,120 295.76,133.74 338.75,171.83 359.12,225.53 352.20,282.55 319.57,329.82 268.71,356.51 211.28,356.51 160.42,329.82 127.79,282.55 120.87,225.53 141.24,171.83 184.23,133.74527692161"/>
                    <polygon class="grid" points="240,80 314.35,98.32 371.67,149.10 398.83,220.71 389.60,296.73 346.09,359.76 278.29,395.35 201.70,395.35 133.90,359.76 90.39,296.73 81.16,220.71 108.32,149.10 165.64,98.327035895486"/>
                    <polygon class="graph" points="240,62.97 315.04,97.00 377.97,144.76 341.21,227.70 389.25,296.60 348.10,362.02 285.84,425.98 223.58,306.57 122.24,372.91 56.55,309.57 128.66,226.48 232.93,235.12 199.72,163.26047777672"/>
                    <path id="stat0" d=" M240 40L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat0">Height</textPath>
                    </text>
                    <path id="stat1" d=" M332.94 62.90L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat1">Weight</textPath>
                    </text>
                    <path id="stat2" d=" M404.59 126.38L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat2">Arm Length</textPath>
                    </text>
                    <path id="stat3" d=" M438.54 215.89L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat3">Hand Size</textPath>
                    </text>
                    <path id="stat4" d=" M427.00 310.92L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat4">10 Yard Dash</textPath>
                    </text>
                    <path id="stat5" d=" M372.62 389.70L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat5">20 Yard Dash</textPath>
                    </text>
                    <path id="stat6" d=" M287.86 434.18L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat6">40 Yard Dash</textPath>
                    </text>
                    <path id="stat7" d=" M192.13 434.18L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat7">Bench Press</textPath>
                    </text>
                    <path id="stat8" d=" M107.37 389.70L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat8">Vertical Jump</textPath>
                    </text>
                    <path id="stat9" d=" M52.996 310.92L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat9">Broad Jump</textPath>
                    </text>
                    <path id="stat10" d=" M41.45 215.89L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat10">3 Cone Drill</textPath>
                    </text>
                    <path id="stat11" d=" M75.40 126.38L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat11">20 Yard Shuttle</textPath>
                    </text>
                    <path id="stat12" d=" M147.05 62.90L 240 240 Z"/>
                    <text class="measurable">
                      <textPath spacing="auto" startOffset="10" xlink:href="#stat12">60 Yard Shuttle</textPath>
                    </text>
                  </g>
                </svg>
              </figure>
              <div class="col-sm-5">
                <table class="measurements table">
                  <tr>
                    <th>Measurable</th>
                    <th>Measurement</th>
                    <th>%ile</th>
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td>6'6"</td>
                    <td>47</td>
                  </tr>
                  <tr>
                    <td>Weight</td>
                    <td>312</td>
                    <td>42</td>
                  </tr>
                  <tr>
                    <td>Arm Length</td>
                    <td>35 1/2"</td>
                    <td>87</td>
                  </tr>
                  <tr>
                    <td>40 Yard Dash</td>
                    <td>5.08 sec</td>
                    <td>84</td>
                  </tr>
                  <tr>
                    <td>Vertical Jump</td>
                    <td>30"</td>
                    <td>73</td>
                  </tr>
                  <tr>
                    <td>Broad Jump</td>
                    <td>107"</td>
                    <td>77</td>
                  </tr>
                  <tr>
                    <td>3 Cone Drill</td>
                    <td>7.62 sec</td>
                    <td>59</td>
                  </tr>
                  <tr>
                    <td>20 Yard Shuttle</td>
                    <td>4.85 sec</td>
                    <td>29</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div id="comparisons" class="pane">
            <h3>Comparisons</h3>
            <div class="list-group comparisons">
              <a href="#" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 84.3%;">84.3%</div>
                </div>
                <h4 class="list-group-item-heading">Jammal Brown</h4>
                <p class="list-group-item-text"><span class="label label-danger">OT</span> Oklahoma</p>
              </a>
              <a href="#" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 83.2%;">83.2%</div>
                </div>
                <h4 class="list-group-item-heading">Gabe Carimi</h4>
                <p class="list-group-item-text"><span class="label label-danger">OT</span> Wisconsin</p>
              </a>
              <a href="#" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 82.3%;">82.3%</div>
                </div>
                <h4 class="list-group-item-heading">Eugene Monroe</h4>
                <p class="list-group-item-text"><span class="label label-danger">OT</span> Virginia</p>
              </a>
              <a href="#" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 81.8%;">81.8%</div>
                </div>
                <h4 class="list-group-item-heading">William Beatty</h4>
                <p class="list-group-item-text"><span class="label label-danger">OT</span> Connecticut</p>
              </a>
              <a href="#" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 81.6%;">81.6%</div>
                </div>
                <h4 class="list-group-item-heading">Paul McQuistan</h4>
                <p class="list-group-item-text"><span class="label label-danger">OT</span> Weber State</p>
              </a>
              <a href="#" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 81.6%;">81.6%</div>
                </div>
                <h4 class="list-group-item-heading">Paul Cornick</h4>
                <p class="list-group-item-text"><span class="label label-danger">OT</span> North Dakota State</p>
              </a>
              <a href="#" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 81.5%;">81.5%</div>
                </div>
                <h4 class="list-group-item-heading">Levi Jones</h4>
                <p class="list-group-item-text"><span class="label label-danger">OT</span> Arizona State</p>
              </a>
              <a href="#" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 80.9%;">80.9%</div>
                </div>
                <h4 class="list-group-item-heading">Jim Molinaro</h4>
                <p class="list-group-item-text"><span class="label label-danger">OT</span> Notre Dame</p>
              </a>
              <a href="#" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 80.8%;">80.8%</div>
                </div>
                <h4 class="list-group-item-heading">Solomon Page</h4>
                <p class="list-group-item-text"><span class="label label-danger">OT</span> West Virginia</p>
              </a>
              <a href="#" class="list-group-item">
                <div class="progress">
                  <div class="progress-bar progress-bar-info" role="progressbar" style="width: 80.3%;">80.3%</div>
                </div>
                <h4 class="list-group-item-heading">John Welbourn</h4>
                <p class="list-group-item-text"><span class="label label-danger">OT</span> California</p>
              </a>
            </div>
          </div>
        </div>
      </div>

}
