@(opts: SearchOptions, results: List[SearchResultPlayer], measurables: List[Measurable], years: List[Int], positions: List[Position])

@main("MockDraftable") {
        <br>
          <div class="clearfix">
            <form>
              <div class="row">
                <div class="form-group col-xs-12 col-sm-6">
                  <input type="search" class="form-control input-lg" id="playerName" placeholder="Player Name">
                </div>
                <div class="form-group col-xs-6 col-sm-3">
                  <div class="btn-group btn-block btn-group-lg">
                    <button type="button" class="btn btn-danger btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <strong>OT</strong>&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      @for(pos <- positions) {
                        <li><a href="#">pos.abbr</a></li>
                      }
                    </ul>
                  </div>
                </div>
                <div class="form-group col-xs-6 col-sm-3">
                  <div class="btn-group btn-block btn-group-lg">
                    <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                      @opts.year&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      @for(year <- years) {
                        <li><a href="#">@year</a></li>
                      }
                    </ul>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <br>
          <div class="clearfix">
            <div class="btn-group btn-group-sm" data-toggle="buttons">
              <label class="btn btn-default active">
                <input type="radio" name="sort" id="alpha-desc" checked>
                <span class="glyphicon glyphicon-sort-by-alphabet"></span>
              </label>
              <label class="btn btn-default">
                <input type="radio" name="sort" id="alpha-asc">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
              </label>
              <label class="btn btn-default">
                <input type="radio" name="sort" id="attr-desc">
                <span class="glyphicon glyphicon-sort-by-attributes"></span>
              </label>
              <label class="btn btn-default">
                <input type="radio" name="sort" id="attr-asc">
                <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
              </label>
            </div>
            <div class="btn-group btn-group-sm pull-right">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                @opts.displayMeasurable.name <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                @for(m <- measurables) {
                  <li><a href="#">@m.name</a></li>
                }
              </ul>
            </div>
          </div>
          <br>
          <div class="list-group comparisons">
            @for(r <- results) {
              <a href="/@r.player.canonicalName" class="list-group-item">
                <h4 class="pull-right">@r.measurement.map(_.display).getOrElse("N/A")</h4>
                @sparkline(r.sparkline)
                <h4 class="list-group-item-heading">@r.player.firstName @r.player.lastName</h4>
                <p class="list-group-item-text"><span class="label label-danger">@r.primaryPosition.abbr</span></p>
              </a>
            }
          </div>
        </div>
      </div>
}
